body{    
    background-color: rgb(233, 215, 88);
}

.container{   
    font-family: "Impacto", carbón de leña, sans-serif; 
    width: 90%; 
    margin:auto;
}

.tittle{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 30pt;
    text-align:center;
    font-weight: bold;
}

.datos{
    font-size: 15pt;
    padding: 10px;
    padding-bottom: 30px;
}

.menu{
    padding: 10px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    text-align: center;
}
.menu .op{
    text-decoration:none;
    font-weight: 600;
    font-size: 15pt;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border: #D8D8D8 3px solid;
    border-radius:35px;
}


