body{    
    background-color: #000000;
    color: white;
}

.container{
    width: 90%; 
    margin:auto;
    font-family: Tahoma;
}

.juego{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "Impacto", carbón de leña, sans-serif;
    font-size: 30pt;
    text-align:center;
    font-weight: bold;
}

.tablero{
    display: flex;
    background-color: #3D0000;
    flex-flow: row wrap;
    justify-content: center;
    width: 655px;
}
.tablero div{
    width: 100px;
    height: 100px;
    margin: 3px;
    line-height: 90px; 
    font-family: "Comic Sans MS", cursiva, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #FF0000;
    background-color: #950101;
    text-align: center;
}

.datos{
    font-family: "Lucida Console", Mónaco, espacio sencillo;
    font-size: 18pt;
    padding: 40px;
}

.button{
    padding: 30px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    text-align: center;
}
.button .op{
    text-decoration:none;
    font-weight: 600;
    font-size: 15pt;
    color: white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:950101;
    border: white 3px solid;
    border-radius:35px;
    text-transform: uppercase;
}
.button .op:hover{
    color: white;
    background-color: #FF0000;
}